<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to <%= @site_name %></h1>
    <p>
      We are a Massive Open Online Course. We are constantly looking to find teaching assistants for our students. We have seen your helpful posts in various forums.
    </p>
    <p>
       We invite you to register an account with our site and take a competency test. Based on your results, we may select you as a teaching assistant.
    </p>
    <p>
      Please register on our site at: <%= @url %>.
    </p>

  </body>
</html>
