<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1> Dear <%= @ta_name %> <h1>
    <p>Welcome to <%= @site_name %></p>

    <p>
      We are a Massive Open Online Course. We are constantly looking to find teaching assistants for our students. Professor <%= @professor_name %> is looking for teaching assistants for his course: <%= @course %>. We think that you would be a qualified candidate for this course.
    </p>

  </body>
</html>


