<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1> Dear TA <h1>
    <p>Welcome to MOOC TA Manager</p>

    <p>
      We are a Massive Open Online Course. We are constantly looking to find teaching assistants for our students. A professor in our system is looking for teaching assistants for his course. You have shown exceptional aptitude on one or more of our exams. We believe that you would be a qualified candidate as a teaching assistant for this course. 
    </p>


  </body>
</html>



