/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
  margin-top: -50px;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  font-family: Trebuchet MS; 
  background: #f7f7f7;
  color: #444;
  text-shadow: 0 0.13em #fff;
  width: 100%:
  font-size: 1.2em;
}

input {
  padding: 5px;
  border-radius: 5px;
  box-shadow: none;
  border: 1px solid #000;
}

#top {
  background: black;
  height: 6em;
  text-shadow: 0 0.13em #f34426;
}

#nav {
  padding: 0;
}

#nav ul li {
  display: inline;
  background: black;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  font-size: 2em;
  color: white;
  text-shadow: none; 
}

#nav a {
  text-decoration: none;
  color: white;
}

#top h1 {
  padding-top: 1em;
  color: white;
  font-size: 2em;
  padding-left: 1em;
}

#container {
  width: 50em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4em;
}

h1 {
  text-transform: uppercase;
  color: #d31306;
}

form input {
  margin-top: 1em;
  font-size: 1.5em;
  padding: 0.7em;
}

.actions {
  margin-top: 1em;
  float: left;
}

.actions input {
  padding: 1em;
  font-size: 0.9em;
  background: black;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 0 0.13em #111;
  font-weight: 800;
}

select {
  margin-top: 1em;
  height: 2em;
  text-align: center;
  width: 50%;
  font-size: 1.5em;
}

#cancel_button {
  background: #d31306;
  color: #fff;
}

table {
  font-size: 1.3em;
}

table th {
  font-size: 1.6em;
}

table tr:nth-child(odd) {
  background: #eaeaea;
}
