<!DOCTYPE html>
<html>
<head>
  <title>MoocTaManager</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- this entire file is a wrapper for the rest of our app. Whatever page we're on gets
rendered by the following "yield" call. -->

<%= yield %>

</body>
</html>
